.special{
  font: normal 12pt/1.2 Arial, sans-serif;
}

fieldset {
  border: 3px solid #323232;
  background-color: #ffffe6;
}

h2 {
  color: #323232;
}

fieldset#ifproblem {
 display: none;
 background-color: #f0f5f5;
}

input#check:checked ~ fieldset {
  display: block;
}

hr {
  color: red;
  border: medium thin;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button]{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

input[type=button]:hover {
    background-color: #555555;
    color: white;
}

legend {
  padding: 0.1em 0.5em;
  border: 1px solid red;
  color: red;
  font-size: 14pt;
  text-align: left;
  }
