/*Hide boxes that are not important*/
a#noprint, p#noprint, input#noprint, label#noprint, span#noprint, strong#noprint, img#noprint{
    display:none!important;
}

input#white{
  border: 0px solid white;
  font-style: italic;
}

input[type=text]{
  background-color: white;
  border-style: hidden;
}

input[type=number]#printnumb{

  background-color: white;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: -.7em;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]#printnumb2{

  background-color: white;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: 0;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

textarea{
  border: 1px solid black;
  background-color: white;
}

select{
  background-color: white;
  border-style: hidden;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select#sites{
  display: inline;
  position: relative;
  margin-right: -.5em;
}

select#upd{
  display: inline;
  position: relative;
  margin-left: -3em;
}

@media print {
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }
}
