/*Hide boxes that are not important*/
a#noprint, p#noprint, input#noprint, label#noprint, span#noprint{
    display:none!important;
}

input#white{
  border: 0px solid white;
  font-style: italic;
}

textarea{
  border: 1px solid black;
  background-color: white;
}

@media print {
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }
}
