/*Hide boxes that are not important*/
a#noprint, p#noprint, input#noprint, label#noprint, span#noprint, strong#noprint, img#noprint{
    display:none!important;
}

input#white{
  border: 0px solid white;
  font-style: italic;
}

input[type=text]{
  background-color: white;
  border-style: hidden;
}

input[type=date]{
  background-color: white;
  border-style: hidden;
}

input[type=date] {
  border: 0;
  clip-path: inset(0 17px 0 0);
  width: 200px
}

input[type=text]#t1{
  display: inline;
  position: relative;
  margin-left: -.3em;
}

input[type=number]#printnumb{

  background-color: white;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: -.7em;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]#printnumb2{

  background-color: white;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: -0.1em;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=text]#printnumb_text{

  background-color: white;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: -0.1em;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]#printnumb3{

  background-color: transparent;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: -.6em;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]#printnumb4{

  background-color: transparent;
  border-style: hidden;
  display: inline;
  position: relative;
  margin-left: -4em;

  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
  border: 1px solid black;
  background-color: white;
}

select#sites{
  display: inline;
  position: relative;
  margin-right: -.5em;
}

select#flavor{
  display: inline;
  position: relative;
  margin-left: 1.0em;
}

select#upd{
  display: inline;
  position: relative;
  margin-left: 1em;
}

select#selstv{
  display: inline;
  position: relative;
  margin-left: 0.3em;
}

select#selhs{
  display: inline;
  position: relative;
  margin-left: 0.3em;
}

select{
  background-color: white;
  border-style: hidden;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

legend{
  background-color: white;
}

h2{
  page-break-before: auto;
}

fieldset{
  page-break-before: auto;
}

@page{
  size: auto;
  margin-bottom: 7mm;
  margin-top: 18mm;
}
@media print {
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }

}
